body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: rgba(255, 196, 0, 0.93);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgba(45, 45, 45, 0.95);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
   background-color: rgba(182, 182, 182, 0.95);
}
button:active{
    background-color: rgba(152, 145, 145, 0.95);

}

.operator-btn{
    background-color: orange;
}

.operator-btn:hover{
    background-color: rgba(255, 204, 0, 0.85);
}

.operator-btn:active{
    background-color: #ffc400;
}


